html {
}
body {
  background: black;
  background-image: url(../img/wood.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  font-family: 'Antic', sans-serif;
  font-size: 1.5vw;
}

.headshot {
  text-align: center;
}
.headshot img {
  width: 50%; 
}

.scene {
  width: 45vw;
  height: 60vw;
  margin: 5vw 5vw 5vw 50vw;
  perspective: 1000px;
}

.book {
  position: relative;
  width: 100%;
  height: 100%;
  
  transform-style: preserve-3d;
}

.page {
  background-size: 100% 100%;
  cursor: pointer;
  position: absolute;
  color: black;
  width: 100%;
  height: 100%;

  transition: transform 1.5s, box-shadow 1.5s;
  transform-style: preserve-3d;  
  transform-origin: left center;
}
.front,
.back {
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10% 5% 5%;
  box-sizing: border-box;
  backface-visibility: hidden;
}
.front {
  background-image: url(../img/paper.jpg);
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
}
.back {
  background-image: url(../img/paper_flipped.jpg);
  border-top-left-radius: 1vw;
  border-bottom-left-radius: 1vw;
}

.back {
  transform: rotateY(180deg);
}

.page.active {
  z-index: 1;

}
.page.flipped {
  transform: rotateY(-180deg);
}
.page.flipped:last-of-type {
  z-index: 1;
}
.page:last-of-type {
  box-shadow: 0.5vw 0.5vw 1vw rgba(0,0,0,0.5);
}
.page:last-of-type.flipped {
  box-shadow: -0.5vw 0.5vw 1vw rgba(0,0,0,0.5);
}

.page:first-of-type, .page:first-of-type.flipped {
  box-shadow: -0.5vw 0.5vw 1vw rgba(0,0,0,0.5);
}
.page:first-of-type.active {
  box-shadow: 0.5vw 0.5vw 1vw rgba(0,0,0,0.5);
}

footer {
  background-color: black;
  padding: 1vw;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Amaranth', sans-serif;
  color: #a90091;
}
h1, h2 {
  text-align: center;
}
h1 { font-size: 2em; }
h2 { 
  font-size: 1.8em;
  margin-top: 0;
}
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }
p {
  color:#186900;
}

#pagetwo h1{
  width: 50%;
  float: right;
}

#pagetwo p {
  clear: both;
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  .scene {
    width: 90%;
    height: 90%;
    margin: 5%;
  }
